{% extends 'layouts/base.html.twig' %}

{% block body %}
    <h1>Account</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ account.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ account.title }}</td>
            </tr>
            <tr>
                <th>StartBalance</th>
                <td>{{ account.startBalance }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ account.createdAt ? account.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ account.updatedAt ? account.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_account_entity_account_index') }}">back to list</a>

    <a href="{{ path('app_account_entity_account_edit', {'id': account.id}) }}">edit</a>

    {{ include('account/entity/account/_delete_form.html.twig') }}
{% endblock %}
