{% extends 'layouts/base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    {{ form_errors(form) }}

    {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password, {
            label: 'Password'
        }) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(form) }}
{% endblock %}
